* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

h2 {
    margin: 0;
}

p {
    text-align: center;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 8px;
}

button {
    color: white;
    background-color: #3882f6;
    border: 0;
    border-radius: 10px;
    padding: 8px;
    width: 100px;
}

a,
h2 {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;
    padding: 0 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}
/* Hero Start */
.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 52px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 450px;
}

.hero-img {
    width: 400px;
    height: 200px;
    background-color: gray;
}
/* Hero End */
/* Info Start */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infotitle {
    margin: 32px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.infoimg {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-radius: 25px;
}

.blocks {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin: 32px;
}

.block {
    max-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Info End */
/* Quote Start */
.quote {
    background-color: #E5E7EB;
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quotetxt {
    max-width: 500px;
    color: #1F2937;
    font-size: 36px;
    text-align: left;
    margin-bottom: 0;
}
.author {
    margin-left: 250px;
    margin-top: 0;
}
/* Quote End */
/* Call to action Start */
.cta {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 50px 300px;
    border-radius: 25px;
}
.ctamt,
.ctast {
    color: white;
    text-align: start;
    margin: 0;
}

.ctamt {
font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background-color: #1F2937;
    height: 75px;
}

#btn1 {
    border: solid white;
}